* {
  box-sizing: border;
  font-family: "Noto Sans KR", sans-serif;
}

html {
  /* 전체 영역 */
  background-color: lightgray;
  height: 844px;
}

body {
  /* 화면 영역  */
  position: relative;
  text-align: center;
  width: 390px;
  height: 844px;
  background-color: white;
  margin: 0 auto;
}

.goBack {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 51px;
  left: 14px;
}

.goBack:hover {
  cursor: pointer;
}

.goBack span {
  font-size: 35px;
}

.logoArea Img {
  text-align: center;
  width: 134px;
  height: 55px;
  margin: 0 auto 32px auto;
  padding-top: 178px;
}

h1 {
  color: #339931;
  margin: 0;
  font-size: 50px;
}

/* .inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* 
영역 설정 2가지 방법
1. 두 input 테두리 지우고, Container 에서 테두리 설정 ( + hr )
2. input 4 방향 border 직접 CSS 로 제어해서 설정하기 
*/

.inputBox {
  /* margin-bottom: 45px; */
  border: 1px solid #0000004d;
  border-radius: 8px;
  box-sizing: border-box;
  width: 314px;
  margin: 0 auto 3px auto;
  box-shadow: 0px 4px 4px 0px #00000026;
}

input {
  box-sizing: border-box;
  padding-left: 18px;
  width: 301px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  color: black;
  outline: none;
  border-radius: 8px;
  border: none;
}

/* input:focus {
  border-color: #50bb4e;
} */

#firstHr {
  box-sizing: border-box;
  margin: 0;
  width: auto;
  height: 0;
  color: #0000004d;
}

.btnArea {
  margin: 0;
  margin-top: 45px;
  padding: 0;
}

button {
  width: 200px;
  height: 46px;
  margin: 0;
  background-color: #50bb4e;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  box-shadow: 0px 4px 4px 0px #00000026;
}

button :hover {
  cursor: pointer;
}

footer p {
  margin-top: 23px;
  font-size: 17px;
  font-weight: 600;
  color: #00000080;
}

a {
  text-decoration: none;
  color: #00000080;
}

#secondHr {
  box-sizing: border-box;
  margin: 77px auto 69px auto;
  width: 314px;
  height: 0;
  color: #0000004d;
}

.snsLogin p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 19px;
}

img {
  width: 40px;
  height: 40px;
}

#kakaotalkImg {
  width: 200px;
  height: px;
}

#kakaotalkImg:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
