* {
  box-sizing: border-box;
}

html {
  /* 전체 영역 */
  background-color: lightgray;
  height: 844px;
}

body {
  /* 화면 영역  */
  position: relative;
  text-align: center;
  width: 390px;
  height: 844px;
  background-color: white;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  color: #03a400;
}

header {
  padding-top: 46px;
}

a {
  text-decoration: none;
}

.logoContainer {
  display: inline-block;
  margin-right: 60px;
}

.logoContainer:hover {
  cursor: pointer;
}

.upperMenu {
  display: inline-block;
  width: 123px;
  height: 38px;
}

#searchIcon {
  margin-top: 5px;
  color: black;
}

#searchIcon:hover {
  cursor: pointer;
}

#login {
  padding: 7px 12px;
  margin-left: 2.5px;
  width: 85px;
  height: 38px;
  border-radius: 30px;
  background-color: #50bb4e;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: -10px;
}

.upperMenu a {
  text-decoration: none;
  color: #ffffff;
}

#searchIcon {
  display: inline-block;
  width: 33px;
  height: 33px;
}

.sideBar {
  position: absolute;
  left: 29px;
  top: 118px;
}

.sideBar {
  cursor: pointer;
}

.alignMenu {
  /* display: absolute; */
  left: 50px;
  width: 116px;
  height: 36px;
  margin-left: 265px;
  margin-top: 25px;
}

select {
  width: 71px;
  height: 36px;
  text-align-last: center;
  text-align: center;
  /* -ms-text-align-last: center;
  -moz-text-align-last: center; */
  font-size: 14px;
  font-weight: 600;
  line-height: 18.15px;
  border-style: none;
  color: #000000ba;
}

select:focus {
  outline: none;
}

#userImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
}

#sideBarBtn{
  width: 25px;
  height: 25px;
}

/* 
동적으로 생성될 사이드 바 전체 영역 id = sideDrawer
햄버거 버튼 id = sideBarBtn 
*/

#sideDrawer {
  display: none;
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: #000000ba;
  width: 259px;
  height: 844px;
  /* height: 100vh; */
  text-align: center;
  z-index: 1;
}

.emphasized {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 9999px;
}

.xIcon {
  text-align: left;
  position: absolute;
  top: 16px;
  left: 9px;
}

.xIcon:hover {
  cursor: pointer;
}
.side_userProfile {
  margin-top: 46px;
}

.userImg {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.side_userProfile {
  text-align: center;
}

#userName {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#checkProfile {
  display: inline-block;
  margin: 30px auto 29px auto;
  /* display: block; */
  width: 124px;
  height: 25px;
  border-radius: 10px;
  color: #000000;
  background-color: #f0f0f0;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  width : 145px;
height : 37px;
padding : 7px;
color : #2E3134;
font-weight : 600;
}

#checkProfille:hover {
  cursor: pointer;
}

#sideDrawer ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

#sideDrawer ul {
  padding-left: 0;
  text-align: left;
  padding-left: 32px;
}

#sideDrawer ul a {
  text-decoration: none;
  color: #000000ba;
}

#logout {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #3a3f44;
  top: 7px;
}

.logout {
  position: relative;
  text-align: left;
  padding-left: 29px;
}

#logout:hover {
  cursor: pointer;
}
