.headerContainer{
    display: flex;
    flex-direction: row;
}

.logoContainer{
    align-items: center;
    width: 160px;
    padding-left: 25px;
}

#searchIcon{
    color: white;
}

#searchIcon:hover{
    cursor: default;
}