* {
  font-family: "Noto Sans KR", sans-serif;
}

#search {
  width: 340px;
  height: 34px;
  border: 1px solid #0000004d;
  border-radius: 8px;
}

/* #inputIcon {
  display: absolute;
  left: 50px;
} */

.inputContainer {
  position: relative;
}

#inputIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
}

#inputIcon:hover {
  cursor: pointer;
}

#search {
  padding-left: 40px;
  font-weight: 600;
  font-size: 14px;
}

#searchForm {
  margin-top: 23px;
}

#search:focus {
  outline: none;
}